{% extends 'base.html.twig' %}

{% block title %}Page de garde{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Bienvenue sur la site de ActiviCool</h1>
    </div>
{% endblock %}
