{% extends 'base.html.twig' %}

{% block title %}Page de garde{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>Test réponses</h1>
    </div>

    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}