{% extends 'base.html.twig' %}

{% form_theme form_act 'bootstrap_4_layout.html.twig' %}

{% block title %}Activité{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-7">
                <h1>Création d'une activité</h1>

                {{ form_start(form_act) }}

                {{ form_row(form_act.name, {
                    'attr' : {
                        'placeholder' : "Quelle est le nom de l'activité (obligatoire)"
                    },
                    'label' : 'Nom de l\'activité'
                }) }}

                <button type="submit" class="btn btn-success">{% if(activite) %}Changer le nom{% else %}Ajouter des questions{% endif %}</button>

                {{ form_end(form_act) }}
            </div>
        </div>
    </div>




{% endblock %}